header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0px;
    margin-top: -8px;
    margin-left: -8px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding-right: 10px;
    background-color: white;
}

#logo {
}

nav {
    text-decoration-style: none;
    width: 60%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid; */
}

#services-menu {
    border: solid;
    position: absolute;
    top: 100px;
    left: 750px;
    display: flex;
    flex-direction: column;
}

/* Styling for Contact Us Sheet */

#contactComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

#contactComponent p {
    width: 60%;
    text-align: center;
}

form {
    font-family: "Open Sans", sans-serif;
    background: #82949d;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

form textarea {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

form input[type="text"] {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

form input[type="email"] {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

form input[type="tel"] {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

form input[type="submit"] {
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
}

/* Styling for Gallery Sheet */
#gallery__outer-div {
    font-family: "Open Sans", sans-serif;
}

#gallery__inner-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
    cursor: pointer;
}

/* Styling for Image Popup Modal */

#image-popup__outer-box {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-popup__inner-box {
    background: white;
    z-index: 12;
    width: 65%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button {
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: -270px;
    right: -879px;
    cursor: pointer;
}

#image-popup__inner-box img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}
